/****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************** CSS RESET ******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************** GENERIC ELEMENTS ******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
body {
    background-color: blueviolet;
    font-family: "Sixtyfour Convergence";
    line-height: 1.7;
    min-height: 200vh;
}
/****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************** INTRO ******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.intro {
    background-image: url(images/leaves.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
    height: 100vh;
    width: 100vw;
    width: auto;

    display: flex;
}
.intro-container {
    color: #765847;
    background-color: #358693;
    box-shadow: 0 0 10px rgba(255, 0, 242, 0.5);

    width: 25%;

    text-align: center;
    padding: 20px;
    margin: auto;
}
.intro h1 {
    text-transform: uppercase;
    font-weight: normal;

    letter-spacing: 2px;
    margin-bottom: 20px;
}
.intro p {
    line-height: 2;
}
/****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************** CARD ******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.card {
    display: block;

    color: aquamarine;
    text-decoration: none;
}

.card-image {
    height: 500px;
    overflow: hidden;
}
.card-image img {
    display: block;

    width: 100%;
    height: 100%;
    object-fit: cover;

    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

.card h2 {
    margin-top: 20px;
    margin-bottom: 50px;

    font-size: 1.2em;
}
.card:hover img {
    transform: scale(12) rotate(30000000deg);
    transition-duration: 1800s;
    transition-timing-function: linear;
}
/****** Container ********/
.container {

    max-width: 1280px;
    margin: auto;
}
/***grid layout***/
.row {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}
.two-columns .card {
    width:  calc((100% - 50px) / 2 );
}
.three-columns .card {
    width:  calc((100% - 100px) / 3 );
}
/*** website content***/
.main-content {
    margin-top: 100px;
}
.vertical-title {
    font-size: 0.9em;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: normal;
    transform-origin: 0 0;
    transform: rotate(90deg) translate(5px);
    position: absolute;
}
.footer {
padding: 30px;
background-color: DarkSalmon;
color: white;
}
.footer p {
    max-width: 1280px;
}
